<% if(flash[:error]) %>
  <div class = "error-msg flash-message">
    <%= flash[:error] %>
  </div>
<% end %>

<% if(flash[:success]) %>
  <div class = "success-msg flash-message">
    <%= flash[:success] %>
  </div>
<% end %>

<div class = "menu">
  <div class = "main-section">
    <div class = "main-section-heading">
      <h2>Menu</h2>
    </div>
    
    <% if @current_user.role == "Owner" && @page == "Modify menu" %>
      <%= form_with url: menus_path, class: "add-menu" do |form| %>
        <%= form.text_field :name, placeholder: "Name" %>
        <%= form.submit "Add" %>
      <% end %>
    <% end %>
    
    <% if @current_user.role == "Owner" && @page == "Modify menu items" %>
      <%= form_with url: menu_items_path, class: "add-item" do |form| %>
        <div class = "first-row">
          <%= form.text_field :name, placeholder: "Name" %>
          <%= form.number_field :price, placeholder: "Price" %>
          <%= form.select :menu_id, @options %>
        </div>

        <div class = "second-row">
          <%= form.text_area :description, placeholder: "Description" %>
        </div>

        <div class = "third-row">
        <label for="avatar"> MenuItem image </label>
        <%= form.file_field :avatar, class: 'form-control', direct_upload: true  %>
        <%= form.submit "Add" %>
        </div>
      <% end %>
    <% end %>

    <div class = "menu-sections">
        <% @menus.each do |menu| %>
          <%= render partial: "menu-section", locals:{
            heading: menu.name,
            id: menu.id,
            menuitems: menu.menu_items
          } %>
        <% end %>
    </div>
  </div>

  <% if @cartitems && @cartitems.count > 0 %>
    <div class = "added-items" >
      <div class = "inside-added-items" > 
        <h3> Cart </h3>

        <div class = "cartitems-container">
          <ul>
            <% @cartitems.each do |cartitem| %>
              <% @menuitem = cartitem.cartitem_info(cartitem.menu_item_id) %>
              <li>
                <div class = "order-item-name"> <%= @menuitem.name %> </div>
                <div class = "priceAndButton">
                  <p><i class="fas fa-rupee-sign"></i> <%= @menuitem.price %>  * <%= cartitem.quantity %> </p>
                  <%= form_with url: "/cart_items/#{cartitem.id}", method: "delete" do |form| %>
                    <%= form.submit "Remove", class: "remove-orderitem" %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <div class = "buttons">
          <div class = "checkout-container">
            <%= form_with url: orders_path, method: "post" do |form| %>
              <%= form.submit "Checkout", 
                class: "checkout-btn",
                disabled: @cartitems.count == 0
              %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>