<% if(flash[:error]) %>
  <div class = "error-msg flash-message">
    <%= flash[:error] %>
  </div>
<% end %>

<% if(flash[:success]) %>
  <div class = "success-msg flash-message">
    <%= flash[:success] %>
  </div>
<% end %>

<div class = "user-signup">
  <% if @page %>
    <h2> Add User </h2>
  <% else %>
    <h2> Sign up </h2>
  <% end %>


  <%= form_with url: users_path do |form| %>
    <div class = "signup-field">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name %>
    </div>
    
    <div class = "signup-field">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email %>
    </div>

    <div class = "signup-field">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </div>

    <div class = "signup-field">
      <%= form.label :role, "Role" %>
      <%= form.select :role, @options %>
    </div>
    
    <div class = "signup-field" id = "hidden_div" style = "display: none">
      <%= form.label :code, "Secret Code" %>
      <%= form.password_field :code %>
    </div>

    <div class = "signup-field">
      <% if @page %>
        <%= form.submit "Add User" %>
      <% else %>
        <%= form.submit "Sign up" %>
      <% end %>
    </div>

  <% end %>
  
  <% if !@page %>
    <div class = "other-form">
      <div> Have an account? </div>
      <div>
        <%= link_to "Sign in here", new_sessions_path, method: "get" %>
      </div>
    </div>
  <% end %>
</div>