<div class = "checkout">
  <div class = "heading">
    <h3> Invoice </h3>
  </div>

  <div class = "user-info">
    <div>
      Name : <%= @current_user.name %>
    </div>

    <div>
      Email : <%= @current_user.email %>
    </div>

    <div>
      Ordered at : <%= @current_order.date.to_s(:long) %>
    </div>
  </div>

  <div class = "order-container">
    <h2> Your order </h2>

    <div class = "orderitems-container">
      <ul>
        <% @orderitems.each do |orderitem| %>
          <li>
            <div class = "order-item-name"> <%= orderitem.menu_item_name %> </div>
            <div class = "order-item-price"> <i class="fas fa-rupee-sign"></i> <%= orderitem.menu_item_price %> * <%= orderitem.quantity %> </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class = "totalprice">
      Total amount : <i class="fas fa-rupee-sign"></i> <%= @current_order.total_amount %>
    </div>
  </div>
  
  <% if @permit_edit %>
    <div class = "buttons">
      <%= form_with url: menus_path, method: "get" do |form| %>
        <%= button_tag type: 'submit' do %>
          <i class="fas fa-arrow-left"></i> Change order
        <% end %>
      <% end %>

      <%= form_with url: "/orders/#{@order_id}", method: "delete" do |form| %>
        <%= button_tag type: 'submit', class: "cancelorder-btn" do %>
          Cancel order
        <% end %>
      <% end %>
      
      <%= form_with url: confirm_order_path, method: "get" do |form| %>
        <%= button_tag type: 'submit' do %>
          Confirm order <i class="fas fa-arrow-right"></i>
        <% end %>
      <% end %>
    <div>
  <% end %>
  
</div>