<div class = "checkout">
  <div class = "heading">
    <h3> Invoice </h3>
  </div>

  <div class = "user-info">
    <div>
      Name : <%= @user.name %>
    </div>

    <div>
      Email : <%= @user.email %>
    </div>

    <div>
      Ordered on : <%= @current_order.date.to_s(:long) %>
    </div>
    
    <% if @current_order.delivered %>
      <div>
        Delivered on : <%= @current_order.delivered_on.to_s(:long) %>
      </div>
    <% end %>
  </div>

  <div class = "order-container">
    <h2> Your order </h2>

    <div class = "orderitems-container">
      <ul>
        <% @orderitems.each do |orderitem| %>
          <li>
            <div class = "order-item-name"> <%= orderitem.menu_item_name %> </div>
            <div class = "order-item-price"> <i class="fas fa-rupee-sign"></i> <%= orderitem.menu_item_price %> * <%= orderitem.quantity %> </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class = "totalprice">
      Total amount : <i class="fas fa-rupee-sign"></i> <%= @current_order.total_amount %>
    </div>
  </div>
  
  <% if @permit_edit %>
    <div class = "buttons">
      <div>
        <%= form_with url: "/orders/#{@order_id}", method: "delete" do |form| %>
          <%= button_tag type: 'submit', class: "cancelorder-btn" do %>
            Cancel order
          <% end %>
        <% end %>
      </div>
      
      <div>
        <%= link_to "Done", confirm_order_path, class: "done-btn", method: "get" %>
      </div>
    </div>
  <% end %>
  
</div>