<div class = "checkout">
  <div class = "user-info">
    <div>
      Name : <%= @current_user.name %>
    </div>

    <div>
      Email : <%= @current_user.email %>
    </div>
  </div>

  <div class = "order-container">
    <h2> Your order </h2>

    <div class = "orderitems-container">
      <ul>
        <% @orderitems.each do |orderitem| %>
          <li>
            <div class = "order-item-name"> <%= orderitem.menu_item_name %> </div>
            <div class = "order-item-price"> <%= orderitem.menu_item_price %> </div>
          </li>
          <% @totalprice += orderitem.menu_item_price %>
        <% end %>
      </ul>
    </div>

    <div class = "totalprice">
      Total amount : <%= @totalprice %>
    </div>
  </div>

  <div class = "buttons">
    <%= form_with url: menus_path, method: "get" do |form| %>
      <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
        <i class="fas fa-arrow-left"></i> Change order
      <% end %>
    <% end %>
    
    <%= form_with url: confirm_order_path, method: "get" do |form| %>
      <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
        Confirm order <i class="fas fa-arrow-right"></i>
      <% end %>
    <% end %>
  <div>
</div>